# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Data folders (raw and processed)
data/raw/
data/processed/

# Logs
*.log

# Pytest cache
.pytest_cache/
